/* slick-custom.css */
.slick-dots {
  position: absolute !important;
  bottom: 12px !important;
  width: 100%;
  display: flex !important;
  justify-content: center;
  z-index: 2;
  margin: 0;
  padding: 0;
}

.slick-dots li button:before {
  font-size: 10px;
  color: white !important;
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  color: white !important;
  opacity: 1;
}

.recharts-tooltip-wrapper {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
  padding: 0 !important;
  margin: 0 !important;
}
